* text=auto

*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.gradle text eol=lf
*.java text eol=lf
*.ps1 text eol=crlf
*.iss text eol=crlf

*.gz binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.exe binary
